<% block_num = 0 %>
<% benchmark "BENCHMARK: display_plugins" do %>
  <% @sidebars.each do |sidebar| -%>
    <% benchmark "BENCHMARK: display_plugins: #{sidebar.controller}" do %>
      <% block_num = block_num + 1 %>
      <div class="block<%= ' first' if block_num == 1 %>">
        <%= render_sidebar(sidebar) %>
      </div>
      <% 
      if block_num == 3 
      	block_num = 0 
      %><div class="clear"></div><% end %>
    <% end %>
  <% end %>
<% end %>