<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>EPM</string>
	<key>ordering</key>
	<array>
		<string>17FD2959-D122-40E5-B2E8-7490BC0C8659</string>
		<string>9F45DCB1-DDFB-4426-839C-D5D3AB8763D9</string>
		<string>A9A79BAC-18A2-42C3-898E-13282AD6A4F2</string>
		<string>98762C02-C5CF-4E4D-A14A-A38AE1D5920F</string>
		<string>22C0698D-1A4D-4443-9BD2-AE0DFDB775F0</string>
		<string>0EE8BA2A-D6FE-4329-AB0F-69F1FA615D05</string>
		<string>A962AA2B-6391-4E9D-8C4E-DC4FAE8710DD</string>
		<string>62F55D99-B0DB-475F-BAED-0CD6335A42CB</string>
		<string>5036AF97-29DF-4DA7-97F2-052D8FA1F8E2</string>
	</array>
	<key>uuid</key>
	<string>AB4667F5-ECD6-4F09-89A2-3DE1B6A67ADD</string>
</dict>
</plist>
